body{
  font-family: Arial, Helvetica, sans-serif;
}


.logo{
    width: 100px;
}

#videoHome{
  margin-top: 3px;
    width: 100%;
    object-fit: cover;
    height: 300px;
}

#headHome{
  font-size: larger;
  margin-top: 30px;
}

#sectionContainer{
  display: flex;

}

#sectionHomeText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;  
  margin-right: 100px;
  background-color: #04AA6D;
  box-shadow: 10px 10px;

}

  #sectionHomeText > article > p {
    justify-content: space-around;
      
  }

  #sectionHomeText > article > em{
    font-size: 20px;
    font-weight: 900;
  }


#sectionHomeImg{
  width: 200px;
  margin-top: auto;
}  

.imagesHome{
  margin-bottom: 30px;

}

#aside{
  margin-left: 5%;
  max-width: min-content;
}

#cookieSection{
  float: right;
}


/* best destinations page */

#bestDestinationsContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5%;
}

#article1{
  grid-row: 1/2;
  grid-column: 2;
  
}

#article2{
grid-column: 1;
}

#article3{
grid-column: 3;
}

#article4{
grid-column: 3;
}

#article5{
  grid-row: 2/4;
}

#article6{
  grid-column: 2/-1;

}

.imagesBestDestinatons{
  width: 250px;
}


















/* best destinations page */


#cookie{
    width: 100px;
    color: #fff;
    opacity: 50%;
    background-color: #fA0;
    text-align: center;
    position: fixed;
    transform: translateX(-100%);
    margin-top: -240px;

}

#footerHome{
    margin-top: 20px;;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    height: 30px;
    text-align: center;
    

}





/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  ul > li {
    float: left;
  }
  
  ul > li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }
/* end of nav bar */