.logo{
    width: 100px;
}

#videoHome{
  display: flex;
  margin-top: 3px;
  width: 500px;
}

#headHome{
  font-size: larger;
  margin-top: 30px;
}

#sectionContainer{
  display: flex;
  
}

#sectionHomeText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  
}

  #sectionHomeText > p {
      justify-content: space-around;
      
  }

  #sectionHomeText > em{
    font-size: 20px;
    font-weight: 900;
  }


#sectionHomeImg{
  flex-direction: column;
  width: 100px;
  margin-left: 100px;
}  


/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }
/* end of nav bar */